---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-font: sans-serif;

* {
// font-family: 'Work Sans', sans-serif; // remove the google font dependancy for now

}
.project-detail {
  max-width: 1400px;
  margin: 0 auto;

  .row {
    margin: 20px 0;
  }
}

.blockqoute {
  font-family: Georgia;
  font-style: italic;
  width: 1000px;
  margin: 2em auto;
}


/*
* Header
*/

header {
  height: 40vh;
  background: #F6F6F5;

  h2 {
      margin-top: 10vh;
  }
  h4 {
      font-weight: 100;
      opacity: 0.5;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.img-preview {
  width: 100%;
  height: 100%;
}

p {
  color: #717171;
  // font-size: 20px;
}

.bg-grey {
  background: #77878B;
}

.bg-dark-grey {
  background: #343334;
}

.stacked-case .col-md-6 {
  padding: 4em 2em;
  box-sizing: border-box;
}



/*
* Work index + single
*/

a.project-item {
  margin: 24px;
  text-decoration: none;
  &:hover{
      text-decoration: none !important;
  }
}

.project {
    &__title{}
    &__skills{
        font-size: 0.8rem;
    }
}

.desc {
    font-size: 0.8rem;
}

/*
* CV
*/
.row--cv {
    margin-top: 1em;
}


/*
* Footer
*/

// bootstrap over-writes

.btn.btn-primary a {
    color: #fff;
}

h6 {
    opacity: 0.5;
}

footer {
    margin-top: 48px;
}


// helpers

.padding-vert {
    padding: 4em 0;
}

.break {
    border: solid 2px #000
}

// toolkit

.toolkit {
    column-count: 2;
}

// project padding-vert

.project-meta {
    &--horizontal {
        padding: 4em 0;
    }
    &--vertical {}
    div {
        padding: 1em 0;
    }
}

// project-specifc style

$ikeaMe: #FFD700;
$myWelfare: #8EC63F;
.ikeaMe header {
    background: #FFD700;
}


.myWelfare header {
    background: rgba(142, 198, 63, 1.0);

    h4 {
        color: #fff;
        opacity: 1;
    }
}

.myWelfare header a {
    color: #fff ;
}
.myWelfare button {
    background: darken(#8EC63F, 20%)
}
