
html, body {

		background: #2a2e32;
		font-size: 15px;

}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {

	color: #2a2e32;
	font-family: futura, "pt-sans", "Open Sans", sans-serif;
}


h1 {

	font-size: 1.2em;
	line-height: 2;
	font-weight: 500;

}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*Intro*/

section.intro {

	background: #fff;
	color: #2b3034;
	text-align: center;
}


section.intro h2 {

	font-size: 3em;
}


	section.intro h2 span {

		font-family: Georgia, serif;
		font-style: italic;

	}



/*header*/

h1 a {

	color: #2b3034;
	text-decoration: none;

}

	h1 a:hover {

		color: #2b3034;
	}

	h1 a span {

		color: #00f798;

	}


header {

	background: #fff;
	color: #2b3034;
	padding-top: 0.666666667em;

}


	nav{
		
	    list-style:none;
	    margin:0;
	    padding:0;

	}


		ul.nav {

		text-align: right;
		line-height: 2;

		}


	.nav li{
	    display:inline;
	    text-align: right;
	}
	.nav a{
	    display:inline-block;
	    padding: 0 10px;
	    color: #2b3034;
	    text-decoration: none;

	}


	.nav.button {

  height: 38px;
  padding: 0 30px;
  line-height: 38px;

	}



/*Services*/

section.what-i-do {

	padding-top: 2em;
	background: #fff;
	color: 
}


.services svg {

	width: 5em;
	height: 5em;
}


.services ul {

text-align: center;

}


/*Pull Out */


section.pullout {

	background: #00f798;
	padding-top: 2em;
	background-size: 4px 4px;
}

section.pullout h5 {

	color: #fff;
}

.pullout a.primary-btn.button {
	border: #fff 1px solid;
	color: #fff;
}

.pullout a.primary-btn.button:hover {
border: #cbd1d9 1px solid;
color: #cbd1d9;
background: #fff;

}


.pullout .cta {


}

/* Testimonials
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#carousel  {


	display: none;
}


section.testimonials {

	
	color: #2b3034;
	background: #e3e8f2;
	padding-top: 2em;


}

section.testimonials h3 {

	font-size: 2em;
	border-bottom: 2px solid #f83c54;
	color: #2b3034;
	width: 10%;
	margin-bottom: 10px;
}

section.testimonials h6 {

	font-size: 1.3125em;
	color: #2b3034;
}


p.quote {

	font-size: 120%;
	line-height: 1.5;
}


cite {

	text-align: right;
}


blockquote cite {

	font-family: "Georgia";
	font-size: 2em;
	line-height: 1.5;
	text-align: right;

}




.face {

	display: inline;
	float: left;
	width:48px;
	height: 48px;
	height: auto;
	padding-right: 10px;
}



.flexslider .slides img {

	width: 48px;
	display: block;
}


li.three.columns {

	opacity: 0.6;
	transition: opacity 0.5s ease;
	margin-left: 5px;

}

li.three.columns.flex-active-slide {

	opacity: 1;
}

	.name {

		color: #f83c54;
		margin-bottom: 0;


	}

	.title	{

		color: #2b3034;
	}


.aboutquote {
font-size: 160px;
line-height: 0px;
color: #bec3c8;
text-align: center;
margin: 55px 0 30px;
font-family: 'Baskerville italic', Georgia, serif;

}

h2.aboutquote {

	padding-top: 30px;
	font-family: Baskerville, serif;
	font-style: italic;
}




.flexslider {

	margin: 0 0 60px;
	background: none; 
	border: none; 
	position: relative;
	 -webkit-border-radius: 0; 
	-moz-border-radius: 0;
	-o-border-radius: 0;
	 border-radius: 0; 
	 -webkit-box-shadow: none; 
	-moz-box-shadow: none;
	-o-box-shadow: none;
	 box-shadow: none; 
	zoom: 1;


}



/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a.grey-out,  .grey-out {

	color: #e2e8f2;

}


figure {


background: #fff;
min-height: 300px;
margin: 0;

}



/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0;  } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}



/*  UI
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.button:hover {

color: #FFF;
background-color: #2a2e32;
border-color: #2a2e32;

}


/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0;  } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}




/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

	.quotation {

		top: -11%;
		right: 28%;
	}

	p.quote {

		font-size: 160%;


	}

	#carousel {

		display: block;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

	html, body, {

		font-size: 120%;
	}

	.container {

		max-width: 1040px;
	}

}

