/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {

	@include outer-container(1040px);
  	height: 90px;
  	font-size: 0.8em;

	h1 {

		@include span-columns(4);
		text-align: left;
	}


	nav {
		
	   @include span-columns(8);	

		ul {

		text-align: right;
		line-height: 2;

		}

		li {
	    display:inline;
	    text-align: right;

	    a {
		    display:inline-block;
		    padding: 0 10px;
		    color: rgba($secondary, 0.6);
		    text-decoration: none;

		&:hover {

			opacity: 1;
		}


		}


	}


	button {

	  height: 38px;
	  padding: 0 30px;
	  line-height: 38px;
	}

}


}
