
/* Services
-------------------------------------------------- */



/*Services*/

section.what-i-do {

	color: darken($primary, 20%);

	svg {width: 5em;height: 5em; }

	padding-top: 2em;
	background: $secondary;

	ul { text-align: center;}

	h5 { font-size: 1.6em; color: #fff}
}



