
/* Services
-------------------------------------------------- */

#Services {
	

	color: $fourth;

	hr {

		background: $primary;
	}

	h2 {

		color: $white;
	}

	h3 {

		font-family: $special-font;
		color: $primary;
		font-size: 1.75em;
		margin-bottom: 2em;

	}


	h4 {

		color: $fifth(darken, 5%);
	}



		ul {

		}

		li {
			

			color: $white;
			line-height: 1.625;
			list-style: disc;

		}

			li:hover {

	
		}


}
