.quote {
    // opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    color: white;
}

.quoter {
    max-width:200px;
    height: auto;
    background-color:green;
    margin-bottom:15px; 
	padding: 1em;	
}

.quoter:hover + .quote {
    opacity: 1.0;
}

