/* Typography
-------------------------------------------------- */


$body-font: "Consolas";
$headings-font: "Chaparral Pro";
$special-font: "AW Conqueror Sans", Helvetica, sans-serif;

body {
  font: 100% $body-font, serif;
  font-weight: 100;
  color: $fourth;
  letter-spacing: 1px;
}



h1 {

	font-family: $special-font;
	color: $secondary;
	text-align: center;
}

h2 {

	padding-bottom: 0.3em;
	font-style: 0.8em;

}

h3 {

	font-weight: 900;
}

h4 {

	margin-bottom: 0.4em;
	color: $secondary;
	font-style: italic;
	font-weight: 100;
	font-family: $body-font;

}



a {

	color:$fifth;
	
	&:hover {

		color: $primary;
	}

}

