// start styling


@import "grids";
// @import "logo";

/* Vars
-------------------------------------------- */

$primary: #28262C;
$secondary: #2F584C;
$third: #F24F5D;
$fourth: #495780;
$fifth: #7FF1E9;

$white: #fff; 
$special: #83C064;


.wrap {

	max-width: 65em;
	margin: 0 auto;
}
.colour-box {

	width: 800px;

	p {

		padding: 3.75em 1.75em;

	}
}
.color--1 {background-color: $primary}
.color--2 {background-color: $secondary}
.color--3 {background-color: $third}
.color--4 {background-color: $fourth}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Typography
-------------------------------------------------- */


$body-font: "Georgia";
$headings-font: "Chaparral Pro";
$special-font: "AW Conqueror Sans", Helvetica, sans-serif;

body {
  font: 100% $special-font, serif;
  font-weight: 100;
  letter-spacing: 1px;
}



h1 {

	font-family: $special-font;
	color: $white;
	text-align: center;
	font-size: 3em;

}

h2 {

	border-bottom: 2px $primary solid;
	color: $white;
	padding-bottom: 0.3em;
	text-align: center;
	font-style: 0.8em;

}

h3 {

	font-weight: 900;
}

h4 {

	margin-bottom: 0.4em;
	color: $white;
	font-style: italic;
	font-weight: 100;
	font-family: $body-font;

}



a {

	color:$fifth;
	
	&:hover {

		color: $primary;
	}

}




/* Body & Grid
-------------------------------------------------- */


body {

	  background-color: $primary;

}

	
.og {
	background-color: orange;
}


.gr {
	background-color: green;
}



.grid {

	max-width: 125em;
	margin: 0 auto;
}

.grid--center {

	text-align: center;
	margin: 0 auto;
}


/* Borders, Margins & Padding
-------------------------------------------------- */


.bt {

	border-top:1px solid #fff;
}

.bl {

	border-left:1px solid #fff;

}

.bb {

	border-bottom:1px solid #fff;

}

.mt {

	margin-top: 2em;
}

.mb {

	margin-bottom: 2em;
}


.pt {

	padding: 2em 0;
}



/* UI
-------------------------------------------------- */
$modal: #DEF4D6;

.modal {

	background: $modal;
	border: 1px solid darken($modal, 20%);
	padding: 1em 0.5em;
	color: darken($modal, 80%);



	h3 {

		text-align: center;

	}

	a.close {

	color: darken($modal, 80%);
	text-decoration: none;
	float: right;
	margin-top: -20px;
	right: 10px;
	position: relative;

	}

}


button  {

	padding: 1em 2.5em;
	width:100%;
	border: 2px solid $fifth;
	background: none;

	a {
		text-decoration: none;
	}
}


/* Header
-------------------------------------------------- */

header {}
.logo {}
.menu {}

/* For Hire Callout
-------------------------------------------------- */

.for-hire {

	color: $white;

	.holder {
		background: $special;
		padding: 1em 0;
		margin-top: 1em;
		padding: 3.7em 0;

	}

	h3 {

		margin-bottom: 2em;
	}
	

	button {

		border: 2px solid $white;
		padding: 2em 1em;

		&:hover {

			background: $white;
			border: 2px solid $white;


		}
	}

	a {

		color: $white;
		font-size: 1.8em;

	}
}

/* Intro
-------------------------------------------------- */

.intro {

	color: $white;
	font-family: $special-font;
	text-align: center;
	padding-bottom: 3.125em;

	h2 {

		font-size: 1.2em;
	}

}


#Intro {
background: url("Hero-images.png") no-repeat 0 #f8e4cd;
display: block;
padding: 1.75em 0;
font-family: "AW Conqueror Sans";

	button {
		margin: 1em 0;
	}
}

#Intro-blurb {}

/* Services
-------------------------------------------------- */

#Services {
	

	color: $fourth;

	h3 {

		font-family: $special-font;
		color: $primary;
		font-weight: bold;

	}

		li {
			padding: 3.75em 1.875em;
			line-height: 1.6;
			background: $fifth;
			color: #fff;
			min-height: 360px;  // fix needed to find convert to ems
			border: 2px $primary solid;



				a {

					margin-top: 1em;
					text-transform: italic;
					text-decoration: dotted;
					color: $primary;
					display: block;


					
				}
	


		}

			li:hover {

		
				background: $primary;

					h3 {

						color: $fifth;
					}


					a {

						color: $fifth;

					}




		}


}


/* Media
-------------------------------------------------- */

img {

	width: 100%;
	height: auto;
}


svg {
  width: 20%;
  height: auto;
  }


/* CTA
-------------------------------------------------- */


#CTA {

	background: none;
	margin: 2em 0;
	

	h2 {

		text-align: left;
	}

	button {

		border: 2px solid $white;
		color: $primary;
		text-align: center;


		a {

			color: $white;
			font-size: 1.8em;

		}

				&:hover {

			background: $fifth;
			color: $primary;
		}





	}

	a {

			// font-size: 2em;
	}

}



/* About
-------------------------------------------------- */

#About {}

.about--blurb {}
.about--image {}

/* Testimonials
-------------------------------------------------- */

// @import "testimonials";

#Testimonials {

	background: $third;
	color: $white;
	line-height: 1.6;
	font-size: 1.2em;

		blockquote {

			margin-bottom: 2em;
			display: block;

		}


		cite {

			display: block;
			margin-top: 1.6em;
			// font-size: 0.8em;
			text-transform: normal;
			color:darken( $third, 30% );

			a {

				color: darken($fifth, 10%);
				text-decoration: none;
				 border-bottom: 1px dotted darken($fifth, 10%);
			}

		}

		li {

			margin-bottom: 1em;
			// border-bottom: 2px solid $primary;


			hr {

				padding: 1em 0;
				// border-bottom: 2px solid $primary;
			}
		}
}

/* Work
-------------------------------------------------- */

#Work {}


/* HACK : /
-------------------------------------------------- */

.no-border {

	border-bottom: none;
}
