
          <a class="col-md-4 nav-link" href="{{ site.baseurl }}/">
            {{ site.title }}
        </a>
          <nav class="col-md-8">
            <ul class="nav">
              
            <li><a href="/cv/" class="nav-link {% if page.url == '/cv/' %}active{% endif %}">CV</a></li>
<!--             <li><a href="2018_RayONeill-CV.pdf" class="nav-link">CV</a></li>
 -->            <li><a href="/case-studies/" class="nav-link {% if page.url == '/case-studies/' %}active{% endif %}">Case Studies</a>
            </li>
<!--             <li><a href="/about/" class="nav-link {% if page.url == '/about/' %}active{% endif %}">About</a></li>
 -->            <li><a class="nav-link" href="mailto:info@raymondoneill.ie" target="_blank">Get in touch  </a> 
</li>

            </ul>
          </nav>
