
          <a class="col-md-4 nav-link" href="{{ site.baseurl }}/">
            {{ site.title }} <span style="opacity: 0.3">/{{ site.subtitle }}</span>
        </a>
          <nav class="col-md-8">
            <ul class="nav">
              {% for page in site.pages %}
                  {% if page.title %}
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  {% endif %}
                {% endfor %}
            <a  class="nav-link" href="https://drive.google.com/file/d/1X1KcwgiXcPOHPd7dDkbNINbpqe1dg7DE/view?usp=sharing" target="_blank" onClick=”_gaq.push([‘_trackEvent’, ‘cv’, cv-dropbox, true]);”> CV </a>
             <a class="nav-link" href="mailto:heyrayoneill+leads@gmail.com" target="_blank">Get in touch  </a>
            </ul>
          </nav>
