
          <a class="col-md-4 nav-link" href="{{ site.baseurl }}/">
              <h6>{{ site.title }}</h6>
        </a>
          <nav class="col-md-8">
            <ul class="nav">
              {% for page in site.pages %}
                  {% if page.title %}
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  {% endif %}
                {% endfor %}
             <a class="nav-link" href="mailto:info@raymondoneill.ie" target="_blank">Get in touch 👋 </a>
            </ul>
          </nav>
