<div class="cv__section case-study row">
        <div class="case-study__items">
            <a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, journey-cs, true]);” href="https://paper.dropbox.com/doc/Project-Journey--AGWiPgVCjD1VGdEa~KeX5ptLAQ-jY8moTp8Xou74nDbcWKg0" target="_blank" class="case-study__link" >
                <div class="case-study__item case-study__item--journey">
                        <h3>Project Journey</h3>
                        <p><a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, journey-cs, true]);” href="https://paper.dropbox.com/doc/Project-Journey--AGWiPgVCjD1VGdEa~KeX5ptLAQ-jY8moTp8Xou74nDbcWKg0" target="_blank"> View case study </a></p>
                </div>
            </a>
            <a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, irishRail-cs, true]);” href="https://paper.dropbox.com/doc/Irish-Rail-Website-Redesign-IADT-c7O8jNl03h36opNSF7m39" target="_blank" class="case-study__link" >
                <div class="case-study__item case-study__item--irishRail">
                       <h3>Irish Rail Redesign (IADT)</h3>
                       <p><a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, welfare-cs, true]);” href="https://paper.dropbox.com/doc/Irish-Rail-Website-Redesign-IADT-c7O8jNl03h36opNSF7m39" target="_blank"> View case study </a></p>
                </div>
            </a>
            
            <a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, welfare-cs, true]);” href="https://paper.dropbox.com/doc/IkeaMe--AGzMKGma6TLoJiajcTz4PO~VAQ-StEEoYgXUZLaMpjjrwsIH" target="_blank" class="case-study__link" >
                <div class="case-study__item case-study__item--ikeaMe">
                      <h3>IkeaMe </h3>
                        <p><a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, welfare-cs, true]);” href="https://paper.dropbox.com/doc/IkeaMe--AGzMKGma6TLoJiajcTz4PO~VAQ-StEEoYgXUZLaMpjjrwsIH" target="_blank"> View case study </a></p>
                </div>
            </a>
            <a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, irishRail-cs, true]);” href="https://paper.dropbox.com/doc/Irish-Times-Mobile-User-Research-ohGuR9RhX4LEeDkxF2M87" target="_blank" class="case-study__link" >
                <div class="case-study__item case-study__item--it-mobile">
                       <h3>Mobile News User Research </h3>
                        <p><a onClick=”_gaq.push([‘_trackEvent’, ‘case study’, irishRail-cs, true]);” href="https://paper.dropbox.com/doc/Irish-Times-Mobile-User-Research-ohGuR9RhX4LEeDkxF2M87" >  View Case Study</a></p>
                </div>
            </a>
        </div>
    </div>