section#about-me {


	@include outer-container($max-width);
	padding-bottom: 2em;


	.left, .right {

		@include span-columns(6);
		@include omega(2n);

		 @include media($tablet) {
     		 @include span-columns(12);
   		 }
	}

	.left  {float: left;}
	.right {float: left;clear: both;}

	img {


		@include span-columns(12);
		border: 4px solid $white;
		max-width: 100%;
		height: auto;

	}
	
}