footer {

	background: darken($secondary, 5%);
	padding: 2em 0;


	h3,h4,ul,li,a {	color: $primary;}

	a:hover {color: lighten($primary,20%)}
	
	section {

		@include outer-container($max-width);
		padding: 0 2em;

	}


	button {

		font-size: 0.6em;
		line-height: 1.6;
	}


	li>button {

		margin-top: 1em;
	}

	.col,.social,.colophon  {

		@include span-columns(4);
		@include media($tablet) {

     		 @include span-columns(12);
    	}
	}
}


.tcs {

	color: (lighten($secondary, 5%));
}