/* Intro
-------------------------------------------------- */

section#intro {

	background:  linear-gradient(
      rgba(128, 194, 192, 0.3), 
      rgba(128, 194, 192, 0.3)
    ), url('/assets/bg2.jpg');
	background-attachment: fixed;
	background-size: cover;
	min-height: 600px;
	@include media($tablet) {
		height: 300px;
	}

	font-family: $body-font;
	text-align: center;
	color: $white;
	padding: 1.2em 0;

	h2 {

	text-align: center;
	color: inherit;	
	font-size: 2.4em;
	line-height: 1.2;
	font-weight: 100;
	width: 70%;
  	margin: 0 auto;
  	margin-bottom: 1em;
  	margin-top: 2em;

	@include media($mobile){

		width: 100%;		
	}

		span {
		
		color: $secondary;
		font-family: $headings-font;
		font-style: italic;

		}
	}

	h3 {

		color: $white;
	}


}

.intro-inner {

	@include outer-container($max-width);
	@include pad(10px default);



}

.available-from {

	text-decoration: underline;
	text-decoration-line: dotted;
}