/* Portfolio
-------------------------------------------------- */

#work {

  .intro-inner {

    @include outer-container($max-width);

  }


  article:nth-child(2n+2) {

 //   background: darken($fifth, 10%);


  }

}

.portfolio-inner {

background: darken($primary, 30%);

}



  .project-info, .project-hero {
    @include span-columns(6);
    @include media($tablet) {

      @include span-columns(12);
    }

  }

  .project-hero {

     position: relative;

       @media only screen and (max-width: 768px){
        width: 100%;
      }

       @media only screen and (min-width: 768px){

       left: 2em;
       width: 48%;
       overflow: hidden;


       }
      
      @media only screen and (min-width: 1150px) and (max-width: 1359px) {
        left: 8em;
      
      }

      @media only screen and (min-width: 1359px) and (max-width: 1546px){
      
        left: 29%;
  
      }


      img { 

      max-width: 100%; height: auto;
        @media only screen and (min-width: 768px){
          max-width: 150%; 
        }

    }

  }



  .project-info {

    text-align: left;
    @include media($tablet) {

      text-align: center;

    }

  h4 {

    font-size: 1em;

    p>button {

      margin-top: 2em;
    }
  }


}



.view-more {

  font-size: 1.2em;
   @include media($tablet) {
      font-size: 0.8em;
   }
  background: darken($fifth, 5%);
  margin-bottom: 7em;

  div {

    text-align: center;
    @include span-columns(6);
    background: inherit; 
    padding: 4% 0;

  }

  .dribbble {

    &:hover {background: #ea4c89}

  }
  .view-all {

    &:hover { background: $primary;}
  }

  }


/* Portfolio homepage 
-------------------------------------------------- */

h6.work-skills {

  font-size: 1em;
  margin: 0;
}


.project-intro--btns {

  margin-top: 15%;
}




/* Portfolio Single 
-------------------------------------------------- */


#portfolio-single {

  @include outer-container($max-width);

  article {

    @include span-columns(10);
    @include shift(1);

    @include media ($mobile) {
       @include span-columns(12);
    }

  }




}


/* Portfolio All 
-------------------------------------------------- */


#portfolio-all {

  @include outer-container;


  article {

    @include span-columns(3);
    @include omega(5n);
    text-align: center;

    @include media($mobile){

      @include span-columns(12);
    }

     img {
      max-width: 100%;
      margin: auto;
    }



  }


  h4 {margin-top: 1em}
  h3 {font-weight: 300; top: 10px; position: relative;; }
}


#portfolio-all, #portfolio-single {
  

  img {


      @include span-columns(12);
//      max-width: 100%;
      height: auto;

    }

  }
