/* Portfolio
-------------------------------------------------- */

#work {

  .intro-inner {

    @include outer-container($max-width);

  }


  article:nth-child(2n) {

    background: darken($fifth, 5%);


  }

}

.portfolio-inner {

  background: darken($primary, 30%);

}



  .project-info, .project-hero {
    @include span-columns(6);
    @include media($tablet) {

      @include span-columns(12);
    }

  }

  .project-hero {


        img { max-width: 112%;  height: auto}

  left: 8em;
  width: 48%;
  position: relative;
  overflow: hidden;

  }



  .project-info {

  h4 {

    font-size: 1em;

    p>button {

      margin-top: 2em;
    }
  }


}



.view-more {

  font-size: 2em;
  background: darken($fifth, 15%);
  margin-bottom: 7em;

  div {

    text-align: center;
    @include span-columns(6);
    background: inherit; 
    padding: 4% 0;

  }

  .dribbble {

    &:hover {background: #ea4c89}

  }
  .view-all {

    &:hover { background: $primary;}
  }

  }


/* Portfolio Single 
-------------------------------------------------- */


#portfolio-single {

  @include outer-container($max-width);

  article {

    @include span-columns(10);
    @include shift(1);

    @include media($mobile) {
    @include span-columns(12);
    }

  }




}


/* Portfolio All 
-------------------------------------------------- */


#portfolio-all {

  @include outer-container($max-width);


  li {


    text-align: center;

    @include span-columns(4);
    @include omega(4n);

      @include media($mobile) {
      img {width: auto;}
      @include span-columns(12);
      }

  }


  h4 {margin-top: 1em}

}


#portfolio-all, #portfolio-single {
  

  img {


      @include span-columns(12);
      max-width: 100%;
      height: auto;

    }

  }
