/*Pull Out */


section.pullout {

	background: $secondary;
	padding-top: 2em;
	background-size: 4px 4px;

	 h6 {color: #fff;}
}



.pullout a.primary-btn.button {
	background: $third;
	color: #fff;
}

.pullout a.primary-btn.button:hover {
background: #fff;

}
