/*  UI
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {

	color: $fourth;
	border: 2px solid currentColor;
	padding: 1% 2%;


	&:hover {

		background-color: $fourth;
		color: $secondary;
		border: 2px solid $secondary;

	
		}
}


.primary-cta {

	color: $secondary;
	border: 2px solid currentColor;

	&:hover {

		background: $secondary;
		border: 2px solid $secondary;
		color: $white;
	}

}



.intro{

	color: $white;
	border: 2px solid $white;

	&:hover {

		background: $secondary;
		border: 2px solid $secondary;
		color: $white;
	}

}


