<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


      <!-- open header -->
          <header class="">
              <div class="container">
                  <div class="row">
        {% include header.html %}

         <h2>{{page.page-primary}}</h2>
         <h4>{{page.page-secondary}}</h4>
        </header>
        </div>
        </div>
        <!-- close header -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
    //]]></script>
  </body>

</html>
