<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <!-- open header -->
        <header class="">
            <div class="container">
                <div class="row">


      {% include header.html %}

      <h2 class="col-md-6">{{page.page-primary}}</h2>
      <h4 class="col-md-8">{{page.page-secondary}}</h4>
      </div>
      </div>
            </header>



<div class="post">

          <div class="container">
     <h2 class="post-title">{{ page.title }}</h2>
     <h4 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</h4>
         </div>


     <article class="post-content container">
    {{ content }}
  </article>


    </div>

  {% include footer.html %}

</body>

</html>
