---
layout: default
---
<div class="post">

  <!-- open header -->
      <header class="">
          <div class="container">
              <div class="row">
    {% include header.html %}

     <h2 class="post-title">{{ page.title }}</h2>
     <h4 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h4>
    </header>
    </div>
    </div>
    <!-- close header -->

  <article class="post-content">
    {{ content }}
  </article>

</div>
