<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!-- open header -->
    <header class="">
      <div class="container">
        <div class="row">
          {% include header.html %}
          <h2 class="col-md-6">{{page.page-primary}}</h2>
          <h4 class="col-md-8">{{page.page-secondary}}</h4>
        </header>
      </div>
    </div>
    <!-- close header -->
    <section class="container">
      <div class="row">
        <div class="col-md-8">
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    </section>
    <section id="reading"  class="container" id="list">
      <ul class="row">
        {% for book in site.data.reading %}
              <li class="list-unstyled">
            <div class="book-image">
                <img src="{{ book.image }} " alt="{{ book.title }}">
            </div>
            <div class='book-info'>
            <h3> {{ book.title }}</h3>

            <h5> <i>by</i> 
                {{ book.author[0].given }} {{ book.author[0].family }}
                {{ book.author[1].given }} {{ book.author[2].family }}
                {{ book.author[2].family }} 
            </h5>
            
            <p>            {{ book.abstract }} 
  </p>
            </div>
          </li>

          
        {% endfor %}
      </ul>
      
    </section>
    {% include footer.html %}
  </body>
</html>