---
layout: default
---


<div class="container">
    <div class="project-meta project-meta--horizontal row">

        {% if page.year %}
        <div class="col-md-4">
            <h6>Year</h6>
            {{ page.year }}
        </div>
        {% endif %}



        {% if page.role %}
        <div class="col-md-4">
            <h6>Project Role</h6>
            {{ page.role }}
        </div>
        {% endif %}

         {% if page.client %}
        <div class="col-md-4">
            <h6>Client</h6>
            {{ page.client }}
        </div>
        {% endif %}


        {% if page.duration %}
        <div class="col-md-4">
            <h6>Project Duration</h6>
            {{ page.duration }}
        </div>
        {% endif %}
    </div>
</div>


<section id="portfolio-single" class="single-column">


<article class="project-content padding-vert">

<div class="entry-content col-md-12">{{ content }}</div>


  </article>

</section>

<div class="container nav nav--next-link">
{% if page.previous.url %}

  <a class="prev" href="{{page.previous.url}}"><span class="small">&laquo; Previous Project</span><h4>{{page.previous.title}}</h4></a>
{% endif %}
{% if page.next.url %}
  <a class="next" href="{{page.next.url}}"><span class="small">Next Project &raquo;<span><h4>{{page.next.title}}</h4></a>
{% endif %}
</div>
