---
layout: default
---

<section id="portfolio-single">
  <article class="intro-inner">
    {% if page.title %}
    <h2>{{ page.title }}</h2>
{% endif %}
   {% if post.desc %}
    <p> {{ post.desc }}</p>
{% endif %}
{% if page.site_url %}
<p><a href="{{ page.site_url }}" target="_blank" class="button">Go to website</a></p>
{% endif %}
<div class="entry-content">{{ content }}</div>
{% if page.site_url %}
<p class="tc"><a href="{{ page.site_url }}" target="_blank" class="button">Go to website</a></p>
{% endif %}
  <article>
</section>